<p>
    <a href = "{% url 'journal_web:index' %}">Journal</a>
    <a href = "{% url 'journal_web:topics' %}">Topics</a>
    {% if topic %}
        <a href="{% url 'journal_web:topic' topic_id=topic.id %}">Topic</a>
    {% endif %}
    
    {% if topic %}
    <a href = "{% url 'journal_web:new_entry' topic_id=topic.id %}">Entry</a>
    {% endif %}

    {% if user.is_authenticated %}
        Hello,{{ user.user_name }}
    {% else %}
        <a href = "{% url 'users:login' %}">Log In</a>
    {% endif %}
</p>

{% block content %}{% endblock content %}